<div class="flex flex-wrap space-y-4 md:flex-nowrap md:space-y-0 md:space-x-16">
  <%= render 'shared/settings_nav' %>
  <div class="flex-grow max-w-xl">
    <h1 class="text-4xl font-bold mb-4">eSign</h1>
    <p>
      Upload your electronic signature
    </p>
    <%= form_for '', url: settings_esign_index_path, method: :post do |f| %>
      <file-dropzone data-name="verify_attachments" class="">
        <label for="file">
          <input id="attachment_uuid" name="attachment_uuid" class="hidden" data-target="file-dropzone.valueField" type="text" autocomplete="off">
          <input id="file" class="hidden" data-action="change:file-dropzone#onSelectFiles" data-target="file-dropzone.input" type="file">
          Cick to upload
        </label>
      </file-dropzone>
      <%= f.button button_title %>
    <% end %>
  </div>
</div>
