<div class="max-w-6xl mx-auto px-2 py-3">
  <%= link_to 'Create Flow', new_flow_path, data: { turbo_frame: :modal } %>
  <% @flows.each do |flow| %>
    <div>
      <%= flow.name %> |
      <a href="<%= flow_path(flow) %>">edit</a> |
      <a href="<%= flow_submissions_path(flow) %>">submissions</a> |
    </div>
  <% end %>
</div>
