<div class="max-w-6xl mx-auto px-2 py-3">
  <%= link_to 'Create Template', new_template_path, data: { turbo_frame: :modal } %>
  <% @templates.each do |template| %>
    <div>
      <%= template.name %> |
      <a href="<%= template_path(template) %>">edit</a> |
      <a href="<%= template_submissions_path(template) %>">submissions</a> |
    </div>
  <% end %>
</div>
