/db/*.sqlite3

**/node_modules
/node_modules
/coverage
/doc
/.git
/.github
/.bundle
/.yardoc

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/.keep

/storage/*
!/storage/.keep

.byebug_history

/config/master.key
/public/packs-test
/public/packs
/attachments
/docuseal
.DS_Store
.env
