<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <div class="alert">
      <%= svg_icon('x_circle', class: 'stroke-current shrink-0 h-6 w-6') %>
      <div>
        <p class="font-bold">
          <%= I18n.t('errors.messages.not_saved',
                     count: resource.errors.count,
                     resource: resource.class.model_name.human.downcase) %></p>
        <% resource.errors.full_messages.each do |message| %>
          <p class="text-sm"><%= message %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
