<div class="flex justify-between mt-4">
  <%- if controller_name != 'sessions' %>
    <%= link_to 'Already have an account?', new_session_path(resource_name), class: 'link link-hover mx-auto' %>
  <% end %>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to 'Create free account', registration_path({ redir: params[:redir] }.compact_blank), class: 'link link-hover' %>
  <% end %>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'link link-hover' %>
  <% end %>
</div>
