<div>
  <%= link_to root_path do %>
    &larr;
    <span>Back to Active</span>
  <% end %>
</div>
<div class="flex justify-between mb-4 items-center">
  <h1 class="text-4xl font-bold">Submissions <span class="badge badge-outline badge-lg align-middle">Archived</span></h1>
  <% if params[:q].present? || @pagy.pages > 1 %>
    <%= render 'shared/search_input', placeholder: 'Search...' %>
  <% end %>
</div>
<% if @pagy.count > 0 %>
  <div class="space-y-4">
    <%= render partial: 'templates/submission', collection: @submissions, locals: { with_template: true, archived: true } %>
  </div>
<% elsif params[:q].present? %>
  <div class="text-center">
    <div class="mt-16 text-3xl font-semibold">
      Submissions not Found
    </div>
  </div>
<% end %>
<%= render 'shared/pagination', pagy: @pagy, items_name: 'submissions' %>
