@config "../../../tailwind.dynamic.config.js";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: '';
}

:host {
  all: initial;
}
