<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <%= f.select :role, nil, {}, class: 'base-select' do %>
    <option value="admin">Admin</option>
    <option value="editor">Editor</option>
    <option value="viewer">Viewer</option>
  <% end %>
</div>
