<div class="form-control">
  <%= f.label :role, class: 'label' %>
  <%= f.select :role,
               User::ROLES.map { |r| [t(r, default: r.titleize), r] },
               {},
               class: 'base-select' %>
  <label class="label">
    <span class="label-text-alt"><%= t('user_role_help') %></span>
  </label>
</div>
