<div class="absolute top-0 w-full h-0">
  <div class="max-w-xl mx-auto mt-1.5">
    <div class="px-4 py-3 rounded-2xl flex items-center justify-between mx-4 md:mx-0">
      <a target="_blank" href="<%= start_form_url(slug: ::Template.first&.slug) %>" class="font-medium w-full text-center underline">
        Demo Environment
      </a>
    </div>
  </div>
</div>
