<div id="flash" class="absolute top-0 w-full h-0">
  <div class="max-w-xl mx-auto mt-1.5">
    <div class="alert py-3">
      <% if flash[:notice] %>
        <%= svg_icon('info_circle', class: 'stroke-info flex-shrink-0 w-6 h-6') %>
      <% else %>
        <%= svg_icon('exclamation_circle', class: 'stroke-error flex-shrink-0 w-6 h-6') %>
      <% end %>
      <div>
        <span><%= flash[:notice] || flash[:alert] %></span>
      </div>
      <a href="#" onclick="[event.preventDefault(), window.flash.remove()]">&times;</a>
    </div>
  </div>
</div>
