<a target="_blank" href="<%= Docuseal::GITHUB_URL %>" rel="noopener noreferrer nofollow" class="relative flex items-center rounded-full px-2 py-0.5 text-xs leading-4 mt-1 text-base-content border border-base-300 tooltip tooltip-bottom" data-tip="Give a star on GitHub">
  <span class="flex items-center justify-between space-x-0.5 font-medium">
    <%= svg_icon('start', class: 'h-3 w-3') %>
    <span>9k</span>
  </span>
</a>
