<% if signed_in? && current_user != true_user %>
  <span class="hidden md:inline-flex h-3 border-r border-base-content"></span>
  <%= render 'shared/test_alert' %>
<% end %>
<span class="hidden md:inline-flex h-3 border-r border-base-content"></span>
