<% if signed_in? && current_user != true_user %>
  <%= render 'shared/test_alert' %>
<% elsif request.path.starts_with?('/settings') %>
  <%= link_to "#{Docuseal::CLOUD_URL}/sign_up?#{{ redir: "#{Docuseal::CONSOLE_URL}/on_premises" }.to_query}", class: 'hidden md:inline-flex btn btn-warning btn-sm', data: { prefetch: false } do %>
    <%= t('upgrade') %>
  <% end %>
  <span class="hidden md:inline-flex h-3 border-r border-base-content"></span>
<% end %>
