<div class="card bg-base-200">
  <div class="card-body text-center">
    <div class="max-w-md mx-auto">
      <p class="text-4xl font-semibold text-gray-700 mb-4">Nothing to display</p>
      <p class="text-gray-500">We apologize, but currently there is no data available to be displayed. You can try adding new entries or refreshing the page to see if any data becomes available.</p>
    </div>
  </div>
</div>
