<% link = pagy_link_proc(@pagy) %>
<% if @pagy.pages > 1 %>
  <div class="flex my-6 items-center justify-center md:justify-end">
    <div class="join">
      <% if @pagy.prev %>
        <%== link.call(@pagy.prev, "«", 'class="join-item btn btn-sm"') %>
      <% else %>
        <span class="join-item btn btn-sm btn-disabled !bg-base-200">«</span>
      <% end %>
      <span class="join-item btn btn-sm uppercase">
        Page <%= @pagy.page %>
      </span>
      <% if @pagy.next %>
        <%== link.call(@pagy.next, "»", 'class="join-item btn btn-sm"') %>
      <% else %>
        <span class="join-item btn btn-sm btn-disabled !bg-base-200">»</span>
      <% end %>
    </div>
  </div>
<% end %>
