<% if can?(:manage, EncryptedConfig) || (current_user != true_user && current_account.testing?) %>
  <%= form_for '', url: testing_account_path, method: current_account.testing? ? :delete : :get, html: { class: 'flex' } do |f| %>
    <label class="flex items-center justify-between py-2.5" for="testing_toggle">
      <span class="mr-2 text-lg">
        Test Environment
      </span>
      <%= f.check_box :testing_toggle, class: 'toggle', checked: current_account.testing?, onchange: 'this.form.requestSubmit()' %>
    </label>
  <% end %>
<% end %>
