<turbo-frame id="drawer">
  <turbo-modal class="modal modal-open items-start !animate-none justify-end overflow-y-auto !justify-normal md:!justify-end" data-close-after-submit="<%= local_assigns.key?(:close_after_submit) ? local_assigns[:close_after_submit] : true %>">
    <div class="turbo-modal-backdrop absolute inset-0 cursor-pointer z-0" data-turbo-modal-close aria-hidden="true"></div>
    <div class="bg-base-100 min-h-screen max-h-screen relative w-full relative z-10" data-turbo-modal-content>
      <% if local_assigns[:title] %>
        <div class="flex justify-between bg-base-100 py-2 px-4 items-center border-b pb-2 font-medium">
          <span>
            <%= local_assigns[:title] %>
          </span>
          <button type="button" class="text-xl hover:opacity-70" data-turbo-modal-close aria-label="Close">&times;</button>
        </div>
      <% else %>
        <button type="button" data-turbo-modal-close class="absolute btn border border-base-100 bg-base-100 hover:bg-base-300 hover:border-base-300 btn-primary !text-base btn-sm btn-circle" style="left: -40px; top: 6px" aria-label="Close">
          &times;
        </button>
      <% end %>
      <div class="w-screen md:w-[620px] overflow-y-auto" style="max-height: calc(100vh - <%= local_assigns[:title] ? '45px' : '0px' %>)">
        <%= yield %>
      </div>
    </div>
  </turbo-modal>
</turbo-frame>
