<div class="alert my-4">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold">
      <%= t('display_your_company_name_and_logo_when_signing_documents') %>
    </p>
    <p>
      Logo upload UI is not bundled with this open-source edition. Drop your custom logo into public/logo.svg and edit app/views/shared/_logo.html.erb to white-label the signing UI.
    </p>
  </div>
</div>
