<section class="flex items-center justify-center rounded-box bg-base-100">
  <div class="py-10 mx-auto max-w-7xl">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <div class="relative flex flex-col items-center">
          <%= render 'shared/logo', width: '100', height: '100' %>
          <h1 class="hidden text-6xl font-bold mt-4 mb-4">
            Corsar
          </h1>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 md:gap-10 md:grid-cols-2">
    </div>
  </div>
</section>
<%= render 'shared/attribution', with_counter: true %>
