<div class="mt-2 mb-1">
  <div class="tooltip w-full" data-tip="SMS provider integration not configured">
    <button type="button" class="btn btn-sm btn-primary text-gray-400 w-full" disabled>
      <%= submitter.sent_at? ? t('re_send_sms') : t('send_sms') %>
    </button>
  </div>
</div>
