<div class="collapse collapse-arrow join-item border border-base-300">
  <input type="checkbox" name="accordion">
  <div class="collapse-title text-xl font-medium">
    <%= t('signature_request_reminder_email') %>
  </div>
  <div class="collapse-content">
    <%= render 'templates_preferences/submitter_invitation_reminder_email_form' %>
  </div>
</div>
