@config "../../tailwind.form.config.js";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body, html {
  font-family: 'Helvetica Neue', Helvetica, Arial, system-ui, sans-serif;
}

a[href],
input[type='checkbox'],
input[type='submit'],
input[type='image'],
input[type='radio'],
label[for],
select,
button {
  cursor: pointer;
}

button .disabled {
  display: none;
}

button[disabled] .disabled, button.btn-disabled .disabled {
  display: initial;
}

button .enabled {
  display: initial;
}

button[disabled] .enabled, button.btn-disabled .enabled {
  display: none;
}

.input-bordered {
  @apply border-base-content/20;
}

.select-bordered {
  @apply border-base-content/20;
}

.textarea-bordered {
  @apply border-base-content/20;
}

.base-textarea {
  @apply textarea textarea-bordered bg-base-300 rounded-3xl focus:border-primary/50;
}

.btn {
  @apply no-animation;
}

.base-input {
  @apply input input-bordered bg-base-300 focus:border-primary/50;
}

.base-button {
  @apply btn btn-primary text-base-100 text-base;
}

.white-button {
  @apply btn btn-outline text-base bg-base-300 border-2 hover:border-primary/50 hover:bg-base-200;
}

.base-checkbox {
  @apply checkbox rounded bg-base-300 checkbox-sm;
}

.base-radio {
  @apply radio bg-base-300 radio-sm;
}

.font-times {
  font-family: "Times New Roman", Times, ui-serif, serif, Cambria, Georgia;
}

.font-courier {
  font-family: "Courier New", Consolas, "Liberation Mono", monospace, ui-monospace, SFMono-Regular, Menlo, Monaco;
}
