<% if @email_config %>
  <%= auto_link(simple_format(h(ReplaceEmailVariables.call(@email_config.value['body'], submitter: @submitter)))) %>
<% else %>
  <p>Hi there,</p>
  <p><%= @submitter.email %> has completed the "<%= @submitter.submission.template.name %>" form.</p>
  <p><%= link_to 'View Submission', submission_url(@submitter.submission) %></p>
<% end %>
