<% if @body.present? %>
  <%= render 'custom_content', content: @body, submitter: @submitter, sig: @sig %>
<% else %>
  <p>Hi there,</p>
  <p>Please check the copy of your "<%= @submitter.submission.template.name %>" submission in the email attachments.</p>
  <p>Alternatively, you can review and download your copy using:</p>
  <p>
    <%= link_to @submitter.template.name, submissions_preview_url(@submitter.submission.slug, { sig: @sig }.compact) %>
  </p>
  <p>
    Thanks,<br><%= @current_account.name %>
  </p>
<% end %>
