<p>Hi there,</p>
<p>Please check the copy of your "<%= @submitter.submission.template.name %>" submission in the email attachments.</p>
<p>Alternatively, you can download the copy using:</p>
<% @documents.each do |document| %>
  <ul>
    <li>
      <%= link_to document.filename.to_s, rails_blob_url(document) %>
    </li>
  </ul>
<% end %>
<p>
  Thanks,<br><%= @submitter.submission.template.account.name %>
</p>
