<% if @email_config %>
  <%= auto_link(simple_format(h(ReplaceEmailVariables.call(@email_config.value['body'], submitter: @submitter)))) %>
<% else %>
  <p>Hi there,</p>
  <%= simple_format(@message) %>
  <p><%= link_to 'Submit Form', submit_form_url(slug: @submitter.slug, t: SubmissionEvents.build_tracking_param(@submitter, 'click_email')) %></p>
  <p>Please contact us by replying to this email if you didn't request this.</p>
  <p>
    Thanks,<br><%= @current_account.name %>
  </p>
<% end %>
