<div class="alert">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold">
      <%= t('single_sign_on_with_saml_2_0') %>
    </p>
    <p class="text-gray-700">
      Configure SAML SSO via the <code>SAML_CONFIGS</code> environment variable or through the encrypted config.
    </p>
  </div>
</div>
