<div class="max-w-md mx-auto px-2 mt-12 mb-4">
  <div class="space-y-6 mx-auto">
    <div class="space-y-6">
      <div class="flex items-center justify-center">
        <%= render 'start_form/docuseal_logo' %>
      </div>
      <div class="text-center text-4xl font-bold">
        Email has been sent
      </div>
    </div>
  </div>
</div>
<%= render 'shared/attribution', link_path: '/start' %>
