<div class="max-w-md mx-auto px-2 mt-12 mb-4">
  <div class="space-y-6 mx-auto">
    <div class="space-y-6">
      <div class="flex items-center justify-center">
        <a href="/" class="flex items-center">
          <div class="mr-3">
            <%= render 'shared/logo', width: '50px', height: '50px' %>
          </div>
          <h1 class="text-5xl font-bold text-center">DocuSeal</h1>
        </a>
      </div>
      <div class="text-center text-4xl font-bold">
        Email has been sent
      </div>
    </div>
  </div>
</div>
<%= render 'shared/attribution' %>
