<%= f.fields_for :value do |ff| %>
  <%= ff.hidden_field :service, value: 'disk' %>
<% end %>
<div class="alert my-4">
  <%= svg_icon('info_circle', class: 'stroke-current flex-shrink-0 w-6 h-6') %>
  <div>
    <p class="font-bold">Store all files on disk</p>
    <p class="text-gray-700">
      No configs are needed but make sure your disk is persistent
      <br>
      <i>(not suitable for Heroku and other PaaS)</i>
    </p>
  </div>
</div>
