<%= f.fields_for :value do |ff| %>
  <%= ff.hidden_field :service, value: 'disk' %>
<% end %>
<div class="alert my-4">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
  <div>
    <h3 class="font-bold">Store all files on disk</h3>
    <p class="text-gray-700">
      No configs are needed but make sure your disk is persistent
      <br>
      <i>(not suitable for Heroku and other PaaS)</i>
    </p>
  </div>
</div>
