<a href="/" class="flex justify-center items-center">
  <span class="mr-3">
    <%= render 'shared/logo', width: '50px', height: '50px' %>
  </span>
  <h1 class="text-5xl font-bold text-center">DocuSeal</h1>
</a>
