<div class="alert">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold">Send signature requests via SMS</p>
    <p class="text-gray-700">
      Unlock with DocuSeal Enterprise
      <br>
      <a class="link font-medium" target="_blank" href="<%= "#{Docuseal::CONSOLE_URL}/#{Docuseal.multitenant? ? 'plans' : 'on_premise'}" %>">Learn More</a>
    </p>
  </div>
</div>
