<title>
  <%= content_for(:html_title) || (signed_in? ? wl.page_title(signed_in: true) : wl.page_title(signed_in: false)) %>
</title>
<%= render 'shared/meta' %>
<link rel="stylesheet" href="/intebec.css">
